package-lock.json
mercado-craibas/package-lock.json
mercado-craibas/package-lock.json
mercado-craibas/package-lock.json
mercado-craibas/node_modules
mercado-craibas/package-lock.json
mercado-craibas/node_modules/.vite/deps/axios.js
# Dependências
node_modules/
**/node_modules/

# Lock files (se você realmente não quiser versioná-los)
package-lock.json